<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh Sách Sản Phẩm Chi Tiết</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"></head>
</head>
<body>

<div class="container py-5">
    <h2 class="text-center mb-4">Danh Sách Sản Phẩm Chi Tiết</h2>
    <form th:action="${ctsp != null && ctsp.id != null} ? '/sp-chi-tiet/update' : '/sp-chi-tiet/add'" method="post">
        <input type="hidden" name="id" th:value="${ctsp != null ? ctsp.id : ''}">
        <div class="row g-3">
            <div class="col-md-2">
                <select name="tenSP" class="form-select">
                    <option th:each="tsp : ${sp}" th:value="${tsp.id}" th:text="${tsp.ten}"
                            th:selected="${ctsp != null and ctsp.sanPham != null and tsp.id == ctsp.sanPham.id}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <select name="nsx" class="form-select">
                    <option th:each="nsxsp : ${nsx}" th:value="${nsxsp.id}" th:text="${nsxsp.ten}"
                            th:selected="${ctsp != null and ctsp.nsx != null and nsxsp.id == ctsp.nsx.id}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <select name="mauSac" class="form-select">
                    <option th:each="mssp : ${ms}" th:value="${mssp.id}" th:text="${mssp.ten}"
                            th:selected="${ctsp != null and ctsp.mauSac != null and mssp.id == ctsp.mauSac.id}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <select name="dongsp" class="form-select">
                    <option th:each="dongsp : ${ds}" th:value="${dongsp.id}" th:text="${dongsp.ten}"
                            th:selected="${ctsp != null and ctsp.dongSP != null and dongsp.id == ctsp.dongSP.id}"></option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" name="namBH" class="form-control" placeholder="Số Năm Bảo Hành"
                       th:value="${ctsp != null ? ctsp.namBH : ''}" required>
            </div>
            <div class="col-md-2">
                <input type="text" name="mota" class="form-control" placeholder="Mô Tả"
                       th:value="${ctsp != null ? ctsp.moTa : ''}" required>
            </div>
            <div class="col-md-2">
                <input type="text" name="soLuongTon" class="form-control" placeholder="Số Lượng Tồn"
                       th:value="${ctsp != null ? ctsp.soLuongTon : ''}" required>
            </div>
            <div class="col-md-2">
                <input type="text" name="giaNhap" class="form-control" placeholder="Giá Nhập"
                       th:value="${ctsp != null ? ctsp.giaNhap : ''}" required>
            </div>
            <div class="col-md-2">
                <input type="text" name="giaBan" class="form-control" placeholder="Giá bán"
                       th:value="${ctsp != null ? ctsp.giaBan : ''}" required>
            </div>
            <div class="col-md-2 d-grid">
                <button type="submit" class="btn btn-success"
                        th:text="${ctsp != null && ctsp.id != null} ? 'Cập Nhật' : 'Thêm Mới'"></button>
            </div>
        </div>
    </form>


    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-hover align-middle">
                <thead class="table-dark">
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên Sản Phẩm</th>
                    <th scope="col"> NSX </th>
                    <th scope="col">Mầu Sắc</th>
                    <th scope="col">Dòng Sản Phẩm</th>
                    <th scope="col">Năm Bảo Hành</th>
                    <th scope="col">Mô Tả</th>
                    <th scope="col">Số Lượng Tồn</th>
                    <th scope="col">Giá Nhập</th>
                    <th scope="col">Giá bán</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="spct, i : ${spctList}">
                    <td th:text="${i.count}"></td>
                    <td th:text="${spct.sanPham != null ? spct.sanPham.ten : 'Không có sản phẩm'}"></td>
                    <td th:text="${spct.nsx != null ? spct.nsx.ten : 'Không có NSX'}"></td>
                    <td th:text="${spct.mauSac != null ? spct.mauSac.ten : 'Không có mầu Sắc'}"></td>
                    <td th:text="${spct.dongSP != null ? spct.dongSP.ten : 'Không có dòng SP'}"></td>
                    <td th:text="${spct.namBH}"></td>
                    <td th:text="${spct.moTa}"></td>
                    <td th:text="${spct.soLuongTon}"></td>
                    <td th:text="${spct.giaNhap}"></td>
                    <td th:text="${spct.giaBan}"></td>
                    <td class="text-center">
                        <a th:href="@{/sp-chi-tiet/detail/{id}(id=${spct.id})}" class="btn btn-outline-info btn-sm">Chi Tiết</a>
                        <a th:href="@{/sp-chi-tiet/showViewUpdate/{id}(id=${spct.id})}" class="btn btn-outline-warning btn-sm">Cập Nhật</a>
                        <a th:href="@{/sp-chi-tiet/delete/{id}(id=${spct.id})}" class="btn btn-outline-danger btn-sm">Xóa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>